<h2 align="center">Welcome to the Career site login.</h2>
<br>
<br>
<br>
<br>
<table style="width:25%"
       border="1px solid black"
       border-width="thin"
       align="center"
       text-align="left"
       id="tb1">
      <th>To start, login as </th>
      <tr>
        <td>
        <%= link_to "Applicant", controller:'applicant_login', action: 'show' %>
        </td>
      </tr>
      <tr>
        <td>
        <%= link_to "Employer", controller:'employer_login', action: 'login' %>
        </td>
      </tr>
</table>